/*
html, body{
    width:100%;
    height:100%
}
.l-mainWrap{
    overflow: hidden;
    position: relative;
    height:100%;
    width:100%
}
.l-mainWrap .l-header{
    position:relative;
    height:5%;
    min-height:50px;
    width:100%
}

.l-mainWrap .l-header .l-logo-wrapper {

    text-align: center;
    width:100%;
    overflow: hidden;
    background-color: #36749E;
}

.l-mainWrap .l-header .l-logo-wrapper .logo{
    width:100%;
    color:white;
    font-size: 1.5em;
}

.l-mainWrap .l-header .l-headerContent{
    position:relative;
    !*margin-left:0.25%;*!
    height:100%;
    width:100%;
    background-color: #3C8DBC;
}

.l-mainWrap .l-middle{
    position:relative;
    height:91%;
    width:100%;
    !*background-color:yellow;*!
}
.l-mainWrap .l-middle .l-menu-wrapper {
    height:100%;
    padding:1%;

    background-color: #424A5D;
    !*border-radius: 5%;*!
}

.l-mainWrap .l-middle .l-middle-content{
!*    margin-left:0.25%;*!
    height:100%;
    width:99.5%;
    background-color:lightgrey;
    overflow-x: auto;
}

.l-mainWrap .l-footer{

    height:4%;
    width:100%;
    margin-top:1px;
    background-color: #36749E;
}











!*for bootstrap grid vertically centered*!
.l-vCenter-parent {
    display: table;
    table-layout: fixed;
    height:100%;
}

.l-vCenter-child {
    display:table-cell;
    vertical-align:middle;
    float: none;
}
!*for bootstrap grid vertically centered*!


.l-label {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    font-size: 10px;
    padding: 3px 3px;
    line-height: .9;
    border-radius: 40%;
}
.l-userImg{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.l-yellow {
    background:yellow
}

*/

/*@import url('../plugins/buildWin/buildWin.css');*/

/*--------------------navbar nav------------------ */
/*--------------------navbar nav------------------ */
/*--------------------navbar nav------------------ */
/*--------------------navbar nav------------------ */

/*
.l-navbar{
    postion:relavtive;
    background-color: #3C8DBC;
    height:100%;

}


.l-navbar-static-top{
    z-index:1000;
    !*width:100%;*!
}


.l-navbar-nav{
    float: left;
    display:table;
    margin:0px;
    padding-right:5px;
    padding-left:5px;
    height:100%;

}
.l-navbar-nav-right{
    float: right;
    display:table;
    padding-right:5px;
    padding-left:5px;
    margin:0px;
    height:100%;
}

.l-navbar-nav>li, .l-navbar-nav-right>li{
    position:relative;
    display:table-cell;
    vertical-align: middle;

    padding-left: 10px;
    padding-right:10px;
    !*line-height: 30px;*!

}

.l-navbar-nav>li:hover, .l-navbar-nav-right>li:hover{
    background-color: #3378a1;
}


.l-navbar-nav>li>a , .l-navbar-nav-right>li>a{

    display: table;
    padding:5px;
    position:relative;
    text-decoration:none;

}

.l-navbar-nav>li>a>span , .l-navbar-nav-right>li>a>span{
    position:relative;
    display: table-cell;
    vertical-align: middle;
}
.l-navbar-nav>li>a>img , .l-navbar-nav-right>li>a>img{
    position:relative;
    display: table-cell;
    vertical-align: middle;
}
*/



/*plugin starts*/


/*
!*-----------------------buildWin Begin----------------------*!

.win-buttonsContainer{
  display: block;
  margin: 10px;
  padding-bottom: 10px;
  text-align:right;
  border:1px #b3b3b3 solid;
  border-radius: 5px;
}

.win-buttonsContainer .banner{
  background-color: #3C8DBC;
  margin: 0px 0px 10px 0px;
  padding:5px;
  width:100%;
  min-height:22px;
  text-align:center;
  color:whitesmoke;
  font-size:1.2em;
  text-align: right;
}

.win-buttonsContainer .content{
  display: block;
}
.win-buttonsContainer .toggle{

}



.win-buttonsContainer .buttonCollapse{
  display: inline-block;

  font-size:1.2em;

  cursor:pointer;
  !*    width:20px;
      height:20px;*!
  color:whitesmoke;
}

.win-buttonsContainer .buttonCollapse:hover{
  color:indianred;

  transition:All 0.4s ease-in-out;
  -webkit-transition:All 0.4s ease-in-out;
  -moz-transition:All 0.4s ease-in-out;
  -o-transition:All 0.4s ease-in-out;

  transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
}

.win-buttonsContainer .win-buttonGrid{
  display: inline-block;

  margin-right: 10px;
  width:150px;
  !*   max-width: 300px;*!


  vertical-align: middle;
  padding-left: 10px;
  !* position:*!


}

.win-modulesContainer{
  display: block;
}

!*-----------------------buildWin End------------------------*!*/





/*!*-----------------------------PopUP menu begin--------------------------*!


.PUMenu-allMenuContainer   .PUMenu-menuContainer{
    position:fixed;
    background-color:#3C8DBC;
    border-radius: 5px;
    border: 1px solid;
    z-index: 10002;
    !*  display: none;*!
}


.PUMenu-allMenuContainer   .PUMenu-menuContainer>ul{
    list-style-type:none;
    padding:0px;
}

.PUMenu-allMenuContainer  .PUMenu-menuContainer>ul{
    list-style-type:none;
    margin:10px 0px 10px 0px;
}

.PUMenu-allMenuContainer   .PUMenu-menuContainer>ul>li{
    display: list-item;
    padding:0px 10px 0px 10px;

}

.PUMenu-allMenuContainer  .PUMenu-menuContainer>ul>li:hover{
    background-color: #3a81ae;
    vertical-align: middle;
    cursor: pointer;
}

.PUMenu-allMenuContainer   .PUMenu-menuContainer>ul>li>a.text{
    color:white;
    display: inline-block;
    min-width:100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.PUMenu-allMenuContainer  .PUMenu-menuContainer>ul>li>a.arrow{
    display: inline-block;
    color:white;
    float:right;
    padding: 5px 10px  5px  10px;
    vertical-align: middle;
}

.PUMenu-allMenuContainer .PUMenu-overLay{
    display: none;
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    !*background-color: rgba(103, 177, 104, 0.56);*!
    z-index: 10000;
}
!*-----------------------------PopUP menu End--------------------------*!*/












/*------------------- pupupMsg Begin------------------------*/
/*.messageTip{
    position:fixed;
    top:49%;
    right:48%;
    max-width: 250px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color:#000000;
    background-color: rgba(47, 109, 166, 0.66);
    z-index:1000000;
    color:whitesmoke;
}

.popUpMsg-msgTip{
    position:absolute;
    display: none;
    top:49%;
    left:48%;
    max-width: 250px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color:#000000;
    background-color: rgba(0, 150, 0, 0.66);
    z-index:20001;
    color:whitesmoke;
}

.popUpMsg-overlay{
    position:absolute;
    display: none;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:20000;
    background-color: rgba(128, 128, 128, 0.5);
    color:white;
}





.popUpMsg-errorTip{
    position:absolute;
    display: none;
    top:49%;
    left:48%;
    max-width: 250px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    background-color:#000000;
    background-color: rgba(255, 61, 22, 0.5);
    z-index:20001;
    color:whitesmoke;
}


.popUpMsg-errorTip  .errorTipClose{
    display:inline-block;
    width:30px;
    height:20px;
    margin-left:5px;
    cursor: pointer;
}

.popUpMsg-errorTip  .errorTipClose:hover{
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;

    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}

.popUpMsg-errorTip .errorMsg{
    display: inline-block;
}

.popUpMsg-toolTip{
    background-color: rgba(47, 109, 166, 0.66);
    z-index:1000000;
    color:whitesmoke;
    padding:5px;
    border-radius: 5px;
    !* max-width: 75px;*!
}



.popUpMsg-toolTip .popUpMsg-imgWrapper{
    !*   height:270px;*!
    padding:10px;
}

.popUpMsg-toolTip .popUpMsg-imgWrapper img{
    height:250px;
}


.overLayMsg{
    position: absolute;
    top:49%;
    left:48%;
}*/
/* -----------------pupupMsg End-------------------------*/


/*.errorPlacement{
    padding-top:2px;

    color: rgba(255, 0, 0, 0.8);
}
.errorInput{
    border:1px solid rgba(255, 0, 0, 0.22);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.65);
}

.loadingData{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100000;
    background-color: rgba(0, 0, 0, 0.50);
}*/
/*!*---------formView-----Begin--------------------*!

.formviewContainer{
    padding:0px 0px 5px 0px;
    margin: 10px;
    border:2px rgba(166, 166, 166, 0.56) solid;
    border-radius: 5px;
}

.formviewContainer .formviewTitle{
    background-color: #3C8DBC;
    margin: 0px 0px 10px 0px;
    padding:5px;
    width:100%;
    min-height:22px;
    text-align:center;
    color:whitesmoke;
    font-size:1.2em;
}

.formviewContainer .formviewForm{
    padding-right:5%;
}

.formviewContainer .merged-input{
    width:auto;
    display:inline-block;
    width:45%;
}
.formviewContainer .merged-label{
    width:auto;
    display:inline-block;
    width:10%;
    text-align: center;
}

.formviewContainer .multiChoice{
    background-color: white;
    border:1px solid #b6b6b6;
    border-radius: 5px;
    padding:10px 5px 10px 5px;

    text-align: left;
}

.formviewContainer .multiChoice:hover{
    border:1px solid rgba(102, 175, 233, 0.75);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.75);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.75);
}

.formviewContainer .multiChoice label{
    margin-left:5px;
    padding-top:0px;
}



.formviewContainer .formviewFormCollapse{
    font-size:1.2em;
    float:right;
    cursor:pointer;
    width:30px;
    color:whitesmoke;
}


.formviewContainer .formviewFormCollapse:hover{
    color:indianred;

    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;

    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}


.formviewContainer img{
    width: 50%;
    !*    height:200px;*!
}

.formviewContainer img.landscape{
    width: 100%;
    !*    height:200px;*!
}

.formviewContainer img.PORTRAIT{
    width: 200px;
    height:300px;
}

.stepsView{
    display: inline-block;
    list-style: none;
    !* margin-bottom:0px;*!
    width:100%;
}

.stepsView > li{
    float:left;
    color: gray;
}


.stepsView >li div.txtContainer{
    !*width:100%;
    height:50px;
    background-color: #00b3ee;*!
    color: grey;
}

.stepsView >li div.dotBarContainer{
    position: relative;
    width:100%;
    height:30px;
}


.stepsView >li div.dotBarContainer .dot{
    display: inline-block;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: #bfbfbf;
    border: 1px solid rgba(103, 103, 103, 0.5);
    z-index:1000;
}



.stepsView >li div.dotBarContainer .bar{
    display: inline-block;
    position:absolute;
    top:13px;
    left:30px;
    height:4px;
    width:100%;

    border: 1px solid rgba(103, 103, 103, 0.5);

}


.stepsView > li .text-done{
    color:  #3C8DBC !important;
}

.stepsView > li .text-active{
    color:  green !important;
}

.stepsView > li .step-done{
    background-color: rgba(60, 141, 188, 0.5) !important;

}

.stepsView > li .step-active{
    background-color: rgba(0, 128, 0, 0.5) !important;

}




!*---------formView------End--------------------*!*/


/*---------taView------Begin--------------------*/
/*
.tabViewContainer {
    width:100%;
    height:100%;
    background-color: gainsboro;
    position:relative;
    overflow:hidden;
    !*padding-top: 1px;*!
    !*border: 2px black dashed;*!


    !*border: 1px gray solid;*!
}







.tabViewContainer>ul{
    margin-top: 3px;
    !* don't set height property, tabview.js has done*!
}

.tabViewContainer>ul>li{
    position:relative;
    min-width:100px ;
    cursor: pointer;
    margin-left:3px;
}
.tabViewContainer>ul>li:first-child{
    margin-left:-1px;
}


.tabViewContainer>ul>li>a{
    margin-top:2px;
    background-color:white;
    color:black;
    text-align: center;
    padding: 5px 8px 3px 5px
}
.tabViewContainer>ul>li>span{
    cursor: pointer;
    position:absolute;
    right: 5px;
    top:2px;
    z-index:50;
    color:#3C8DBC;
}


.tabViewContainer>ul>li>span:hover{
    color:black;
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;

    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}
.tabViewContainer>ul>li.active>a{
    margin-top:2px;
    background-color:#3C8DBC;
    color:whitesmoke;
    text-align: center;
}
.tabViewContainer>ul>li.active>a:hover{
    background-color: #3285bc;
    color:whitesmoke;
}
.tabViewContainer>ul>li.active>span{
    position:absolute;
    right: 5px;
    top:2px;
    z-index:50;
    color:whitesmoke;
}
.tabViewContainer>ul>li.active>span:hover{
    color:indianred;
    cursor: pointer;
    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;

    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}

.tabViewContainer > .tabView-panelsHolder{
    !* don't set height property, tabview js has done*!
    background-color:#3C8DBC;

    width:100%;

    overflow: hidden;


}

.tabViewContainer > .tabView-panelsHolder > .tabView-panel{
    background-color: whitesmoke;
    height:97%;
    margin-top: 0.5%;
    padding-bottom: 1%;
    margin-left:0.5%;
    width:99%;
    overflow-y: auto ;
    !*overflow-x:hidden;*!
}


*/




/*-------------------------tabView End----------------------------------------------------*/

/*
!*-----------------------tableView Begin-------------------------------------------------------*!


!*tableView*!
!*    .table-responsive{
        padding:3px 10px;
    }

    .table-responsive .tableView-paginationContainer{
        background-color: #00CCFF;
    }
    .table-responsive .tableView-paginationContainer .pull-left{

    }
    .table-responsive .tableView-paginationContainer  .pull-left select{
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding:6px 12px;
        color: #797979;
        text-align: left;
    }
    .table-responsive .tableView-paginationContainer  .pull-left select:hover{
        border: 1px solid cornflowerblue;
        background-color: #ededed;

    }*!

.table-responsive{
    margin-top:10px;
    padding:3px 10px;
}
.table-responsive .tableView-paginationContainer{
    margin: 2px 0px 20px 0px;
    width:100%;
    height:45px;
    line-height:45px;
    text-align: center;
}

.table-responsive .tableView-trHead{
    background-color: #337AB7;
    color:white;

}


.tableView-trHeadFloat{
    position: fixed;
    top:100px;

}



.table-responsive td{
    vertical-align: middle !important;
    text-align: center !important;
}

.table-responsive th{
    vertical-align: middle !important;
    text-align: center !important;
}

.table-responsive td img{
    width: 60px;
}

.table-responsive .tableView-paginationContainer .tableView-paginationDetail{
    display: inline-block;
    margin-left:2px;
    height:40px;
    line-height: 40px;
    color: #797979;
    text-align: left;
}



.table-responsive .tableView-paginationContainer .tableView-paginationDetail span{
    display: inline-block;

}

.table-responsive .tableView-paginationContainer .tableView-paginationChange{
    display: inline-block;
    position:relative;
    margin-right:5px;
    height:40px;
    line-height:40px;
}

.table-responsive .tableView-paginationContainer .tableView-paginationChange>ul{
    display: inline-block;
    height:40px;
    line-height: 40px;
}

.table-responsive .tableView-paginationContainer .tableView-paginationChange>ul>li{
    display: inline-block;
    height:40px;
    margin-right: 2px;
    display:inline-block;
}



.table-responsive .tableView-paginationContainer .tableView-paginationChange>ul>li>a{
    display: inline-block;
    height:38px;
    padding-left: 15px;
    padding-right:15px;
    min-width:38px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align:center;
}

.table-responsive .tableView-paginationContainer .tableView-paginationChange>ul>li>a:hover{
    background-color: lightgrey;
    display: inline-block;
}

.table-responsive .tableView-paginationContainer .tableView-paginationChange>ul>li>a.tableView-activePage {
    background-color: #337AB7;
    color:white;
}
.table-responsive .tableView-paginationContainer .tableView-paginationChange>ul>li>a.tableView-activePage:hover {
    background-color: #286090;

}
.table-responsive .tableView-paginationContainer .tableView-paginationChange>ul>li>a>input{
    display: inline-block;
    margin:1px 0px 1px 5px;
    width:60px;
    height:26px;
}


!*让图标按钮不换行*!
.table-responsive .tableView-buttonContainer{
    white-space:nowrap;
}


!*
    .table-responsive .tableView-paginationContainer .tableView-paginationRowsPerPage{
        display: inline-block;

        height:40px;
        line-height: 40px;
    }

    .table-responsive .tableView-paginationContainer  .tableView-paginationRowsPerPage select{
        height:40px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding:6px 12px;
        color: #797979;
        text-align: left;
    }
    .table-responsive .tableView-paginationContainer  .tableView-paginationRowsPerPage select:hover{
        border: 1px solid cornflowerblue;
        background-color: #ededed;

        !*border-radius: 5px;*!
        !*padding:6px 12px;*!
        !*color: #797979;*!
        !*text-align: left;*!
    }*!



!*---------------悬浮 翻页 开始------------------*!

.paginationFixBottomMid{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
    background-color: rgba(119, 119, 119, 0.75);
    visibility: hidden;

}

.hidePagination{
    visibility: hidden;
}

.showPagination{
    visibility:visible;
}



!*翻页 div *!

.paginationFixBottomMid .tableView-paginationChange{
    display: inline-block;
    position:relative;
    margin-right:5px;
    height:50px;
    line-height:50px;
}


.paginationFixBottomMid .tableView-paginationChange>ul{

    display: inline-block;
    height:40px;
    line-height: 40px;
}
.paginationFixBottomMid .tableView-paginationChange>ul>li{
    display: inline-block;
    height:40px;
    margin-right: 2px;
    display:inline-block;
}

.paginationFixBottomMid  .tableView-paginationChange>ul>li>a{
    display: inline-block;
    height:38px;
    padding-left: 15px;
    padding-right:15px;
    min-width:38px;
    border: 1px solid #cccccc;
    background-color: #EDEDED;
    border-radius: 5px;
    text-align:center;
}

.paginationFixBottomMid  .tableView-paginationChange>ul>li>a:hover{
    background-color: lightgrey;
    display: inline-block;
}

.paginationFixBottomMid  .tableView-paginationChange>ul>li>a.tableView-activePage {
    background-color: #337AB7;
    color:white;
}
.paginationFixBottomMid .tableView-paginationChange>ul>li>a.tableView-activePage:hover {
    background-color: #286090;

}
.paginationFixBottomMid .tableView-paginationChange>ul>li>a>input{
    display: inline-block;
    margin:1px 0px 1px 5px;
    width:60px;
    height:26px;
}

!*翻页 div *!




!*共多少页 div *!
.paginationFixBottomMid .tableView-paginationDetail{
    display: inline-block;
    margin-left:2px;
    height:40px;
    line-height: 40px;
    font-weight:900;
    color: white;
    text-align: left;
}

.paginationFixBottomMid .tableView-paginationDetail span{
    display: inline-block;
}
!*共多少页 div *!


!*---------------悬浮 翻页 结束*!


!*-------------------tableView----End------------------------------------------------*!
*/


/*chart */
.chartContainer{
    display: none;
    position: fixed;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
    background-color:lightgray;
    z-index:100000;
    overflow:auto;
}
.chartContainer .chartModule{
    position:relative;
    margin-top:100px;
    margin-left:50px;
    width:1000px;
    height:700px;
}
.chartContainer span{
    font-size:1.5em;
    position:absolute;
    right: 5px;
    top:2px;
    z-index:50;
    color:#3C8DBC;
}
.chartContainer span:hover{
    color:black;
    cursor: pointer;

    transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;

    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}



/*plugin ends*/