/*blue Night Theme*/
$theme-Color : #3C8DBC;
$theme-ColorHover : #3378a1;

$middle-Content:lightgrey;

$menu-wrap-bc:#424A5D;

$logo-wrap-bc:#36749e;
$logo-color:white;



$baseFontSize: 14px !default;
$baseLineHeight: 1.5 !default;